@model Talent.Mvc.Models.ShowViewModel

@{
    ViewBag.Title = "Edit Show";
    ViewBag.MpaaRatings = Model.MpaaRatings;
}

@*<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>*@

<h2>@ViewBag.Title</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()

        @Html.HiddenFor(model => model.ShowModel.ShowId)

        <div class="form-group">
            <label>Title</label>
            @Html.TextBoxFor(model => model.ShowModel.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShowModel.Title)
        </div>

        <div class="form-group">
            <label> Length (min)</label>
            @Html.TextBoxFor(model => model.ShowModel.LengthInMinutes, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShowModel.LengthInMinutes)
        </div>

        <div class="form-group">
            <label>Theatrical Release</label>
            @Html.EditorFor(model => model.ShowModel.TheatricalReleaseDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShowModel.TheatricalReleaseDate)
        </div>

        <div class="form-group">
            <label>DVD Release</label>
            @Html.TextBoxFor(model => model.ShowModel.DvdReleaseDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShowModel.DvdReleaseDate)
        </div>

        <div class="form-group">
            <label>MPAA Rating</label>
            @Html.DropDownListFor(model => model.ShowModel.MpaaRatingId, Model.MpaaRatings, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ShowModel.MpaaRatingId)
        </div>
      
        
        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="form-group">
            @Html.ActionLink("Back to List", "Index", new { @class = "text-primary" })
        </div>
    }

        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
